{# 導入form select 的 css #}
{#-----CCU-----#}
{% import "jury/jury_macros.twig" as macros %}
{% block extrahead %}
    {{ macros.table_extrahead() }}
    {{ macros.select2_extrahead() }}
{% endblock %}
{#-----CCU-----#}

<div class="row">
    <div class="col-lg-4">
        {{ form_start(form) }}
        {% if form.offsetExists('externalid') %}
            {{ form_row(form.externalid) }}
        {% endif %}
        {{ form_row(form.name) }}
        {#-----CCU-----#}
        <div class="form-group">
            {{ form_label(form.subtask) }}
            <div class="input-group">
                {{ form_widget(form.subtask) }}
                <div class="input-group-append">
                    <div class="input-group-text">task</div>
                </div>
            </div>
        </div>
        <div id ='task_point'>
        <input  type="hidden" id = "subtask_old" value = '{{form.vars.value.subtask}}'></input>
        {% if form.vars.value.subtask != 0 and form.vars.value.subtask != null %}
        
            {% for i in 1..(form.vars.value.subtask) %}
            <div class="form-group" id = "group_{{i}}">
                <div class="input-group">
                        <label class="required">
                            Task{{i}}
                        </label>
                        {#if has task_point in database output the task_point #}
                        <div class = "input-group">
                            {% if task_point is defined %}
                            {% if task_point != null %}
                            <input type="number" class="form-control" min="1" id="task_{{i}}" value="{{task_point[i-1]}}" >
                            <div class="input-group-append">
                                <div class="input-group-text">wt</div>
                            </div>
                            {% endif %}
                            {% else %}
                            <input type="number" class="form-control" min="1" id="task_{{i}}" >
                            <div class="input-group-append">
                                <div class="input-group-text">wt</div>
                            </div>
                            {% endif %}
                        </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>

        <div class="form-group">
            <div class="input-group">
                {{ form_widget(form.taskpoint) }}
            </div>
        </div>
        {#-----CCU-----#}
        <div class="form-group" id ='form-timelimit'>
            {{ form_label(form.timelimit) }}
            <div class="input-group">
                {{ form_widget(form.timelimit) }}
                <div class="input-group-append">
                    <div class="input-group-text">sec</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.memlimit) }}
            <div class="input-group">
                {{ form_widget(form.memlimit) }}
                <div class="input-group-append">
                    <div class="input-group-text">kB</div>
                </div>
            </div>
            {{ form_help(form.memlimit) }}
        </div>
        
        <div class="form-group">
            {{ form_label(form.outputlimit) }}
            <div class="input-group">
                {{ form_widget(form.outputlimit) }}
                <div class="input-group-append">
                    <div class="input-group-text">kB</div>
                </div>
            </div>
            {{ form_help(form.outputlimit) }}
        </div>
        {#{ dump(form.timelimit) }#}
        {{ form_end(form) }}
    </div>
</div>
{# control task point table by ajax #}
{#-----CCU-----#}
<script>
    $( document ).ready(function() {
        //取得新舊subtask
        var sub_new = $('#problem_subtask');
        var sub_old = $('#subtask_old');
        var new_subtask1 = sub_new.val();
        var old_subtask1 = sub_old.val();
        console.log(sub_new.val());
        console.log(sub_old.val());
        
        if (old_subtask1 != 0 )
        {
        if( new_subtask1 > old_subtask1)
                         {
                            old_subtask1++;
                            for ( i = old_subtask1; i <= new_subtask1 ; ++i )
                            {
                                item = '<div class="form-group" id = group_'+ i +'><label class=required>Task'+ i +'</label><div class =input-group><input type="number" min="0" class="form-control" id="task_'+ i +'" value=""></div></div>';
                                $('#task_point').append(item);
                            }
                         }
        else
                        {
                            for ( i = old_subtask1 ; i>new_subtask1 ; --i)
                            {
                                $('#group_'+ i ).remove();
                            }
                         }
        }
    });
    $(function () {
            var $contests =$('#problem_subtask');
            var $problem = $('#problem_subtask');
            var $inputVal = $problem.val();
            //fool-proof design
            $contests.on('change', function () {
                var $form = $(this).closest('form');
                var data = {};
                
                if ($inputVal<0 || $inputVal == "")
                    {
                        $inputVal = 0;
                    }
                if ($inputVal>20)
                    {
                       $inputVal = 20;
                    }
                data['old_subtask'] = $inputVal;
                data[$problem.attr('name')] = $problem.val();
                
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        var new_subtask = data[$problem.attr('name')];
                         console.log(data['old_subtask']);
                        console.log(new_subtask);
                        var old_subtask = parseInt(data['old_subtask']);
                        var $newProblems = $(html).find('#problem_taskpoint');
                          var i;
                         if (new_subtask<0)
                         {
                            new_subtask = 0;
                            $('#problem_subtask').val(0);
                         }
                         if (new_subtask>20)
                         {
                            new_subtask = 20;
                            $('#problem_subtask').val(20);
                         }
                         if( new_subtask >= old_subtask)
                         {
                            old_subtask++;
                            for ( i = old_subtask; i <= new_subtask ; ++i )
                            {
                                item = '<div class="form-group" id = group_'+ i +'><label class=required>Task'+ i +'</label><div class =input-group><input type="number" min="0" class="form-control" id="task_'+ i +'" value=""><div class="input-group-append"><div class="input-group-text">wt</div></div></div></div>';
                                $('#task_point').append(item);
                            }
                         }
                         else
                         {
                            
                            for ( i = old_subtask ; i>new_subtask ; --i)
                            {
                                $('#group_'+ i ).remove();
                            }
                         }
                         
                         $('#as').closest('.form-group').replaceWith(
                             $newProblems.closest('.form-group')
                         );
                         
                         
                    }
                    
                });
                
                $inputVal = $(this).val();
            });
            //if submit combine taskpoint to array
             $("form").submit(function(e){
                var $problem2 = $('#problem_subtask');
                var $taskpoint = $('#problem_taskpoint');
                var $subtask = $problem2.val();
                var $i ;
                var $all_taskpoint = [];
                for ( $i = 1 ; $i <= $subtask ; $i++)
                {
                    var $point = $('#task_'+($i)).val();
                    $all_taskpoint[$i-1] = $point;
                }
                $taskpoint.val($all_taskpoint);

             });
        });

</script>
{#-----CCU-----#}